@model IEnumerable<Fitness_Center_Management.Models.Trainerclass>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Classtype)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Trainers)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Classtype.Classtypeid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Trainers.Trainersid)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Trainerclassesid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Trainerclassesid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Trainerclassesid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
