@model Fitness_Center_Management.Models.Blogsection

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Blogsection</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tiptitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tiptitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Firsttiptext)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Firsttiptext)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Secoundtiptext)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Secoundtiptext)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Blogsectionid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
