@model Fitness_Center_Management.Models.Subscriptionplan

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Subscriptionplan</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripelineone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripelineone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripelinetwo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripelinetwo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripelinethree)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripelinethree)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripelinefour)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripelinefour)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripelinefive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripelinefive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripelinesix)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripelinesix)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripelineseven)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripelineseven)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripelineeghit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripelineeghit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripelinenine)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripelinenine)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Advicetext)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Advicetext)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Buttontext)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Buttontext)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Planid" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
</body>
</html>
