@model Fitness_Center_Management.Models.Classtype

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Classtype</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Classname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Classname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dayofweek)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dayofweek)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Starttime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Starttime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Endtime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Endtime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Classdescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Classdescription)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Classtypeid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
