@model IEnumerable<Fitness_Center_Management.Models.Classtype>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Classname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dayofweek)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Starttime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Endtime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Classdescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Classname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dayofweek)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Starttime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Endtime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Classdescription)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Classtypeid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Classtypeid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Classtypeid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
