@model AdminDashboardViewModel

@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

<!-- Admin - Dashboard -->

<div class="row">
    <div class="col-md-12 grid-margin">
        <div class="row">
            <div class="col-12 col-xl-8 mb-xl-0">
                <h4 class="font-weight-bold">Welcome @ViewData["adminFullName"]</h4>
                <h5 class="font-weight-normal mb-0">All systems are running smoothly! </h5>
            </div>
        </div>
    </div>
</div>

<!--  -->
<div class="py-5">
    <div class="row">
        <div class="col-md-6 mb-4 stretch-card transparent">
            <div class="card card-tale">
                <div class="card-body">
                    <p class="mb-4">ِAll Members</p>
                    <p class="fs-30 mb-2">@ViewBag.TotalMembers</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4 stretch-card transparent">
            <div class="card card-dark-blue">
                <div class="card-body">
                    <p class="mb-4">Members Subscriptions</p>
                    <p class="fs-30 mb-2">@ViewBag.Subscriptions</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mb-4 mb-lg-0 stretch-card transparent">
            <div class="card card-light-blue">
                <div class="card-body">
                    <p class="mb-4">Total Revenue.</p>
                    <p class="fs-30 mb-2"></p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Weekly Schedule Section 
<section id="schedule" class="schedule pb-2 bg-secondary-subtle">
    <div class="container">
        <h2 class="text-center mb-4">Weekly Schedule</h2>

        <div class="table-responsive">
            <table class="table table-bordered text-center">
                <thead class="bg-dark text-light">
                    <tr>
                        <th>SUN</th>
                        <th>MON</th>
                        <th>TUE</th>
                        <th>WED</th>
                        <th>THU</th>
                        <th>FRI</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="bg-secondary-subtle text-dark fw-bold ">Yoga <p class="text-secondary class-time">6:00 PM - 7:00 PM</p></td>
                        <td class="bg-secondary-subtle text-dark fw-bold">Cardio <p class="text-secondary class-time">6:00 PM - 7:00 PM</p></td>
                        <td class="bg-secondary-subtle text-dark fw-bold">Boxing<p class="text-secondary class-time">6:00 PM - 7:00 PM</p></td>
                        <td class="bg-secondary-subtle text-dark fw-bold"> <p class="text-secondary class-time"> </p></td>
                        <td class="bg-secondary-subtle text-dark fw-bold">Cardio <p class="text-secondary class-time">6:00 PM - 7:00 PM</p></td>
                        <td class="bg-secondary-subtle text-dark fw-bold"> <p class="text-secondary class-time"> </p></td>
                    </tr>
                    <tr>
                        <td class="bg-secondary-subtle text-dark fw-bold">Boxing <p class="text-secondary class-time">6:00 PM - 7:00 PM</p></td>
                        <td class="bg-secondary-subtle text-dark fw-bold"> <p class="text-secondary class-time"> </td>
                        <td class="bg-secondary-subtle text-dark fw-bold"> <p class="text-secondary class-time"> </p></td>
                        <td class="bg-secondary-subtle text-dark fw-bold">Crossfit <p class="text-secondary class-time">6:00 PM - 7:00 PM</p></td>
                        <td class="bg-secondary-subtle text-dark fw-bold"> <p class="text-secondary class-time"> </p></td>
                        <td class="bg-secondary-subtle text-dark fw-bold"> <p class="text-secondary class-time"> </p></td>
                    </tr>
                    <tr>
                        <td class="bg-secondary-subtle text-dark fw-bold"> <p class="text-secondary class-time"> </p></td>
                        <td class="bg-secondary-subtle text-dark fw-bold">Cardio <p class="text-secondary class-time">6:00 PM - 7:00 PM</p></td>
                        <td class="bg-secondary-subtle text-dark fw-bold"> <p class="text-secondary class-time"> </p></td>
                        <td class="bg-secondary-subtle text-dark fw-bold">Cardio <p class="text-secondary class-time">6:00 PM - 7:00 PM</p></td>
                        <td class="bg-secondary-subtle text-dark fw-bold"> <p class="text-secondary class-time"> </p></td>
                        <td class="bg-secondary-subtle text-dark fw-bold"> <p class="text-secondary class-time"> </p></td>
                    </tr>
                    <tr>
                        <td class="bg-secondary-subtle text-dark fw-bold"> <p class="text-secondary class-time"> </p></td>
                        <td class="bg-secondary-subtle text-dark fw-bold">Boxing <p class="text-secondary class-time">6:00 PM - 7:00 PM</p> </td>
                        <td class="bg-secondary-subtle text-dark fw-bold"> <p class="text-secondary class-time"> </p></td>
                        <td class="bg-secondary-subtle text-dark fw-bold">Body Work <p class="text-secondary class-time">6:00 PM - 7:00 PM</p></td>
                        <td class="bg-secondary-subtle text-dark fw-bold">Boxing <p class="text-secondary class-time">6:00 PM - 7:00 PM</p></td>
                        <td class="bg-secondary-subtle text-dark fw-bold">Cardio<p class="text-secondary class-time">8:00 PM - 10:00 PM</p></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section> 
-->

<!-- Messages Section-->
<div class="container shadow rounded-4 py-5">
    <nav class="navbar">
        <h6 class="navbar-brand">Messages</h6>
    </nav>

    <div class="d-flex flex-wrap justify-content-start my-3">
        @foreach (var form in Model.ContactForm)
        {
            <div class="card p-2 m-2 shadow border-top-0" style="max-width: 22rem;">
                <div class="card-body">
                    <h6><b>Message From:</b> @form.Name</h6>
                    <p class="card-text"><b>Email:</b> @form.Email</p>
                    <p class="card-text"><b>Message:</b> @form.Message</p>
                </div>
            </div>
        }
    </div>
</div>


<!-- Testimonials Requests Section-->
<div class="container shadow rounded-4 py-5">
    <nav class="navbar">
        <h6 class="navbar-brand">Testimonials Requests</h6>
    </nav>
    <div class="d-flex flex-wrap justify-content-start my-3">
        @foreach (var feedback in Model.feedbacks)
        {
            <div class="card p-2 m-2 shadow border-top-0" style="max-width: 22rem;">
                <div class="card-body">
                    <h6>Member Created:</h6>
                    <h5 class="card-title">@feedback.User.Firstname @feedback.User.Lastname</h5>
                    <p class="card-text mb-0">Feedback: @feedback.Comments</p>
                    <p class="card-text mb-2">Date Of Created: @feedback.Userregistrationdate</p>
                    <div class="d-flex justify-content-between">
                        <a class="btn text-dark btn-success p-2 rounded">Approved</a>
                        <a class="btn text-dark btn-danger p-2 rounded">Delete</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>




